.input {
    background-color: black; /* Set background color to black */
    color: #2594c1; /* Set text color to dark green (#006400) */
    display: flex;
    position: relative;
    align-items: center;
    width: 95%;
    font-family: Space Mono;
  }
  .shell-prompt{
    font-family: Space Mono;
  }
  
  /* Style for the submit button */
  .input_submit {
    right: 0;
    background-color: black; 
    color: #2594c1; 
    border: none; 
    cursor: pointer;
    font-family: Space Mono;
  }
  
  /* Style for text input box */
  .input_box {
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to dark green (#006400) */
    border: none; /* Remove input box border */
    padding: 5px; /* Add some padding for better appearance */
  }

  .input_box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0);
    outline: none;
  }

  .container {
    display: flex;
    width: 95%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .todos {
    display: flex;
    width: 47.5%;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    /* background-color: black; */
  }

  .todos_heading {
    color: #ff9900;
    font-size: 20px;
  }

  .todos_single{
    display: flex;
    width: 29;
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
    border: 2px solid #2594c1;
    transition: 0.2s;
  }

  .todos_single:hover {
    box-shadow: 0 0 5px beige;
    transform: scale(1.03);
  }

.todos_single--text {
  background-color: black;
  flex: 1;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  color: darkgreen;
}

.todos_single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
  color: darkcyan;
}

@media(max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }

  .container {
    width: 95%;
    flex-direction: column;
  }

}

/*background color for completed task*/
/* .remove {
  background-color: #981c0e;
} */